[Desktop Entry]
Comment=
Comment[de]=
DocPath=konsole/index.html
Exec[$e]=konsole
GenericName=Terminalprogramm
GenericName[de]=Terminalprogramm
Icon=konsole
MimeType=
Name=Konsole
Name[de]=Konsole
OnlyShowIn=TDE;
Path[$e]=/media/sf_Linux/Voltcraft/expect
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=multi
X-TDE-AuthorizeAction=shell_access
X-TDE-StartupNotify=true
X-TDE-SubstituteUID=false
X-TDE-Username=
